.badge {
    @apply inline-flex gap-1 items-center justify-center transition duration-200 ease-in-out rounded-md font-semibold;
    @apply  leading-5 ;
    width: fit-content;
    padding-left: 0.763rem;
    padding-right: 0.763rem;
    &-neutral {
        @apply dark:border-base-content/30 dark:bg-base-content/30 dark:text-base-content;
    }
    &-primary {
        @apply dark:border-primary/30 dark:bg-primary/30 dark:text-primary;
    }
    &-secondary {
        @apply dark:border-secondary/30 dark:bg-secondary/30 dark:text-secondary;
    }
    &-accent {
        @apply dark:border-accent/30 dark:bg-accent/30 dark:text-accent;
    }
    &-info {
        @apply dark:border-transparent dark:bg-info/30 dark:text-info;
    }
    &-success {
        @apply dark:border-transparent dark:bg-success/30 dark:text-success;
    }
    &-warning {
        @apply dark:border-transparent dark:bg-warning/30 dark:text-warning;
    }
    &-error {
        @apply dark:border-transparent dark:bg-error/30 dark:text-error;
    }
    &-ghost {
        @apply dark:border-white/30 dark:bg-white/30 dark:text-base-300;
    }

    &-xs {
        @apply h-5 text-xs font-bold
    }

    &-sm {
        @apply h-6 text-sm
    }

    &-md {
      @apply h-7 text-base
    }

    &-lg {
    @apply h-8 text-lg
    }



}
